.Cart {
  display: flex;
  flex-direction: column;
}

.Cart-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e1e1e9;
  padding: 15px 0;
  align-items: center;

  div {
    flex-grow: 1;
    height: auto;
    text-align: right;

    &:nth-child(1) {
      text-align: left;
    }
  }

  img {
    width: 50px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
}

.Cart-total {
  margin-top: 20px;
  text-align: right;
}